<% layout('layout/boiler_plate')%>
<style>
    .well{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
}

</style>
<div class="well">


<h1>Profile</h1>
<br>
<%=console.log(currentUser)%>
<div class="text-center" style="align-items: center; justify-content: center; margin-left: 30%;">
    <ul class="job">
        <li>
            Name: <%=currentUser.name%>
        </li>
        <li>
            Type of user: <%=currentUser.user_type%>
        </li>
        <li>
            User name: <%=currentUser.username%>
        </li>
        <li>
            Joining Date: <%=currentUser.joining_date%>
        </li>
    </ul>
    
    <style>
    .job{
        list-style: disc;
        padding: 8px 20px;
        width: auto;
        text-align: left;
        list-style-position: inside;
    }
    </style>
    
</div>


</div>