  <% layout('layout/boiler_plate')%>
<style>
  .well{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
}
.well .total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}
.first{
  margin: auto;
  width: 75% !important;
  
}

  .filter-form{

    margin-top: 20px;
    margin-bottom: 20px;
    
    gap: 30px;
    
  }
  .form-date-div{
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    column-gap: 20px;
    

    
  }
  .filter-form label{
    font-size: larger;
    color: #68acff;
    
    padding: 12px 15px;
    

    
    
  }
  .filter-form  input,select {
    border-radius: 20px;
    background-color: white;
    border: 1px #68acff solid;
    padding: 12px 15px;
    margin:  0;
    min-width: 25%;
    width: fit-content;
  }
    button {
    border-radius: 20px;
    border: 1px solid #68acff;
    background-color: #68acff;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }

  button:active {
    transform: scale(0.95);
  }

  button:focus {
    outline: none;
  }

  button.ghost {
    background-color: transparent;
    border-color: #ffffff;
  }
</style>
<script
  type="text/javascript"
  src="https://www.gstatic.com/charts/loader.js"
></script>

<script type="text/javascript">
    var x=11;
  google.charts.load("current", { packages: ["corechart"] });
  google.charts.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ["name", "number_of_quantity"],

      <% for(var i=0; i<allsalesforpie.length; i++) {%>

          [`<%= allsalesforpie[i].item_name %>`, <%= allsalesforpie[i].total %>],

        <% } %>


    ]);

    var options = {
      title: "Product wise sales",
      is3D: true,
    };

    var chart = new google.visualization.PieChart(
      document.getElementById("piechart_3d")
    );
    console.log(data)
    chart.draw(data, options);
  }
</script>
<script type="text/javascript">
  google.charts.load("current", { packages: ["bar"] });
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    let arr = new Array(13); for (let i=0; i<13; ++i) arr[i] = 0;
    let arr1= new Array(13); for (let i=0; i<13; ++i) arr1[i] = 0;

        <% for(var j=0; j<allsales.length; j++) {%>
          <%if( filter==0){%>
            arr[ <%= allsales[j].date.getMonth() +1 %> ] = arr[<%= allsales[j].date.getMonth() +1 %> ] +  <%= allsales[j].quantity %> ;
            arr1[ <%= allsales[j].date.getMonth() +1 %> ] = arr1[<%= allsales[j].date.getMonth() +1 %> ] +  <%= allsales[j].quantity %>*<%= allsales[j].unit_price %> ;
          <%}else if(allsales[j].item_code==filter){%>
            arr[ <%= allsales[j].date.getMonth() +1 %> ] = arr[<%= allsales[j].date.getMonth() +1 %> ] +  <%= allsales[j].quantity %> ;
            arr1[ <%= allsales[j].date.getMonth() +1 %> ] = arr1[<%= allsales[j].date.getMonth() +1 %> ] +  <%= allsales[j].quantity %>*<%= allsales[j].unit_price %> ;
          <%}%>
        <% } %>

    var data = google.visualization.arrayToDataTable([
      ["Month","Quantity","₹ Sales "],

      ["January", arr[1],arr1[1]],
      ["February", arr[2],arr1[2]],
      ["March", arr[3],arr1[3]],
      ["April", arr[4],arr1[4]],
      ["May", arr[5],arr1[5]],
      ["June", arr[6],arr1[6]],
      ["July",arr[7],arr1[7]],
      ["August", arr[8],arr1[8]],
      ["September", arr[9],arr1[9]],
      ["October",arr[10],arr1[10]],
      ["November", arr[11],arr1[11]],
      ["December",arr[12],arr1[12]],
    ]);

    var options = {
      chart: {
        title: "Month on Month Sales",
        subtitle: "Sales Quantity",
      },
    };

    var chart = new google.charts.Bar(
      document.getElementById("columnchart_material")
    );

    chart.draw(data, google.charts.Bar.convertOptions(options));
  }
  function printDiv(divName) {
		console.log("HHHHHHHH")
    var divContents = document.getElementById(divName).innerHTML;
        var a = window.open('', '', 'height=500, width=500');
        a.document.write('<html>');
        a.document.write('<body >');
        a.document.write(divContents);
        a.document.write('</body></html>');
        a.document.close();
        a.print();
	}
</script>

<div class="well">
  
<div class="total" id="printableArea" style="margin: auto; ">
  <h1>Sales Statistics</h1>

    <form action="/stat" method="POST" class="filter-form" >
      <div>
    <label for="filter">Product :</label>
    <select id="filter" name="filter">
      <option value="0">All Products</option>
      <%for(var j=0; j<allDetails.length; j++) {%>
        <option value="<%=allDetails[j].item_code%>"><%=allDetails[j].item_name%></option>
      <%}%>
    </select>
  </div>
  
  <div class="form-date-div">
    <div>
        <label for="start">Start Date :</label>
<input id="startdate" type="date" name="start" max="<?php echo date('Y-m-d'); ?>" />
</div>
<div>
<label for="end">End Date :</label>
<input id="enddate" type="date" name="end" max="<?php echo date('Y-m-d'); ?>" />
</div>
</div>
    <button type="submit"> Submit </button>
  </form>
  <p><%=filter%></p>
  <div class="first" id="piechart_3d"></div>

  
  <p></p>



  <div class="second" id="columnchart_material"></div>
</div>

</div>

<br><br>

<div class="text-center">
	<input type="button" class="btn btn-primary btn-lg" onclick="printDiv('printableArea')" value="Print" />
</div>

<br><br>

<script>
   $(document).ready(function () {
    
   var todaysDate = new Date(); // Gets today's date
    
    // Max date attribute is in "YYYY-MM-DD".  Need to format today's date accordingly
    
    var year = todaysDate.getFullYear(); 						// YYYY
    var month = ("0" + (todaysDate.getMonth() + 1)).slice(-2);	// MM
    var day = ("0" + todaysDate.getDate()).slice(-2);			// DD

   	var maxDate = (year +"-"+ month +"-"+ day); // Results in "YYYY-MM-DD" for today's date 
    
    // Now to set the max date value for the calendar to be today's date
    $('#startdate').attr('max',maxDate);
    $('#enddate').attr('max',maxDate);

    $('#startdate').change(function() {
        const endVal = $('#enddate').val();
        if(endVal > $(this).val()){
          return;
        }else{
           $('#enddate').val('');
          }
          $('#enddate').attr('min', $(this).val());
    });

     $('#enddate').change(function() {
        const val = $('#startdate').val()
        if (val && val >$(this).val() ){
           $('#startdate').val('');
        }
        $('#startdate').attr('max', $(this).val());
        
        
    });
 
  });
</script>
<style>
  .first {
    width: auto;
    height: 500px;
    display: block;
  }
  .second {
    width: auto;
    height: 500px;
    display: block;
  }

  @media screen and (max-width: 500px) {
    .first,
    .second {
      width: auto;
    }
    .total {
      flex-direction: column;
    }
  }
</style>
